# Python
__pycache__/
*.pyc

# Environment
.env
venv/

# Models
models/*.pkl

# Data
data/raw/*
data/processed/*

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/

# MLflow
mlruns/

# OS
.DS_Store
.cache.sqlite
