# Python
__pycache__/
*.pyc

# Environment
.env
venv/

models/*
!models/best_model_24h.pkl
!models/best_model_48h.pkl
!models/best_model_72h.pkl
# Data
data/raw/*
data/processed/*

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/

# MLflow
mlruns/

# OS
.DS_Store
.cache.sqlite
